/* Reset CSS */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ul, ol, li, pre, code, a, em, strong, small {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 추가적인 요소에 대한 스타일 초기화 */
/* 예: a 태그의 밑줄 제거 */
a {
  text-decoration: none;
}

/* 기타 초기화 규칙을 추가할 수 있습니다. */

/* 사용자 스타일 시트 설정 */
body {
  line-height: 1;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default; /* 또는 다른 원하는 커서 스타일로 변경 가능 */
}

@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
* {
  font-family: 'Orbit', sans-serif;
  user-select: none;
}

.container {
  margin: 30px auto;

  width: 960px;
  height: 540px;

  /* 영역을 확인하기 위한 부분 */
  border: 1px solid black;
  background-color: green;
}