@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
* {
  font-family: 'Orbit', sans-serif;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


